window#waybar {
	color: white;
	background: none;
	border: none;
}

.modules-right {
}

.modules-right *{
	padding-right: 1rem;
}

#workspaces {
  padding: 0;
  margin: 0;
}

#workspaces button{
  padding: 0;
  margin: 0;
  color: white;
}

